<?php
/**
 * Absolute Web Intellectual Property
 *
 * @copyright    Copyright © 1999-2019 Absolute Web, Inc. (http://www.absoluteweb.com)
 * @author       Absolute Web
 * @license      http://www.absoluteweb.com/license-agreement/  Single domain license
 * @terms of use http://www.absoluteweb.com/terms-of-use/
 */
?>
<?php $helper = Mage::helper('absoluteweb_faq2');?>
<?php $item = $this->getFaqById() ?>
<form action="<?php echo Mage::getUrl('crud/index/save'); ?>" method="POST" id="form-validate">
    <h2 class="legend">
        <?php if ($item->getId()): ?>
            <?php echo $helper->__('Edit') ?>
        <?php else: ?>
            <?php echo $helper->__('Add') ?>
        <?php endif; ?>
    </h2>
    <ul class="form-list">
        <?php
            /*
         * @todo complete form use example
         *       class 'required-entry' means that field is required and js will be check it
         *          you can see all classes in the js/prototype/validation.js (line 418)
         */
        ?>
        <li class="wide">
            <div class="input-box">
                <input type="hidden" name="question_id" value="<?php echo $item->getId()?>" class="required"/><br>
                <label for="question_enter" class="required">Enter the question, please</label><br>
                <input type="text" name="question_enter" value="<?php echo $item->getQuestion()?>" class="input-text required-entry" /><br>
                <label for="answer_enter" class="required">Enter the answer, please</label><br>
                <input type="text" name="answer_enter" value="<?php echo $item->getAnswer()?>" class="input-text required-entry" /><br>
                <button type="submit" name="smb_btn"/>Add</button>
            </div>
        </li>
    </ul>
</form>